<div style='font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #000000;'>
<table style='border-width: 1px; border-color: lightgreen; border-style: solid;'>
	<tr>
		<th style='background-color: lightgreen;'>What is WaveLinup?</th>
	</tr>
	<tr>
		<td class='bold' style='color: white; background-color: gray;'>
			<ul style='margin-left: 20px; padding-left: 0;'>
			<li>A <span style='color: #50A0EB;'>Travel Card and Visit Management</span> solution</li>
			<br>
			<li>Designed BY and FOR Network practitioners</li>
			<br>
			<li>Do away with paper Travel Cards!</li>
			<br>
			<li>Access your Practice Member's data securely from any internet connection!</li>
			<br>
			<li>Works with standard web browsers* and touch-screen devices such as the Apple iPad</li>
			<br>
			<li>Free to try (details)</li>
			</ul>
			<p style='margin-left: 20px; font-size: 9px;'>* Mozilla Firefox, Apple Safari and Google Chrome are supported</p>
		</td>
	</tr>
</table>
</div>
