<h1 style='padding: 0px; margin: 0px; font-size: 18px; color: #000033;'>Password reset for: <%= @user.email %></h1>  
<p style='font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #000000;'>Please follow this link to reset your password:</p><br \> 
<%= @url %>  
