<!DOCTYPE html> 
<html>  
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  
  <body>  
    <h1>Password reset for: <%= @user.email %></h1>  
    <p>Please follow this link to reset your password:</p><br \> 
    <%= @url %>  
  </body> 
</html>