<h1 style='padding: 0px; margin: 0px; font-size: 18px; color: #50A0EB;'>User Activation</h1>  
<p style='font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #000000;'>To activate your user please follow this link:</p>
<%= @url %>  
