<h1 style='padding: 0px; margin: 0px; font-size: 18px; color: #50A0EB;'>Welcome to WaveLineup!</h1>  
    <p>You have successfully created your account, your username is your email address which is: <%= @user.email %>.<br/></p>  
    <p style='font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #000000;'>To login to the site, just follow this link: <%= @url %>.</p>  
    <p style='font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #000000;'>If for some reason you have forgotten your password, don't worry, you can reset it from the login page.</p>
    <p style='font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #000000;'>Thanks for joining, we look forward to your using the system!</p>  
  </body> 
</html> 