<!DOCTYPE html> 
<html>  
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  
  <body>  
    <h1>User Activation</h1>  
    <<p>To activate your user for WaveLineup please follow this link:</p><br \> 
    <%= @url %>  
  </body> 
</html>