<!DOCTYPE html> 
<html>  
  <head>  
    <meta content="text/html; charset=UTF-8" http-equiv="Content-Type" />  
  </head>  
  <body>  
    <h1>WaveLineup is a free Travel Card and Visit tracking system for NSA practitioners.</h1>  
 	  <p>Please visit https://wavelineup.structuralartistry.com/login to register.</p>
  </body> 
</html>