<h1 style='padding: 0px; margin: 0px; font-size: 18px; color: #50A0EB;'>WaveLineup is a free Travel Card and Visit tracking system</h1>
<p>You have been sent this email because <%= @referring_user.email %> thought this system would interest you.</p>
<ul style='margin-left: 20px; padding-left: 0;'>
<li>A free <span style='color: #50A0EB;'>Travel Card and Visit Management</span> solution</li>
<br>
<li>Designed BY and FOR Network practitioners</li>
<br>
<li>Do away with paper Travel Cards!</li>
<br>
<li>Access your Practice Member's data from any internet connection!</li>
<br>
<li>Works with standard web browsers* and touch-screen computers such as the Apple iPad</li>
</ul>
<p style='margin-left: 20px; font-size: 9px;'>* Mozilla Firefox, Apple Safari and Google Chrome are supported.</p>


<p style='font-family: verdana, arial, helvetica, sans-serif; font-size: 13px; line-height: 18px; color: #000000;'>Please visit https://wavelineup.structuralartistry.com/login to register.</p>
