<h1>Reset Password</h1>
<%= form_for(@user, :url => password_resets_path) do |f| %>
  <p>Please enter your email and press submit.</p>
  <div class="field">
    <%= f.label :email %><br />
    <%= f.text_field :email %>
  </div>
  <div class="actions">
    <%= f.submit 'Submit', :class => 'selector_cell_save' %>
  </div>
<% end %>
