<table class="selector_table">
  <tr>
    <td id='label_sri_4_col' colspan="4" class="half_height label" >SRI</td>
    <td id='label_sri_5_col' colspan="5" class="half_height label hidden" >SRI</td>
    <td class='half_height'></td>
  </tr>

  <tr class='sri_session_1'>
    <td class="half_height label" >Stage</td>
    <td id='label_sri_session_1_position_a' class="half_height label" >Pos</td>
    <td id='label_sri_session_1_position_b' class="half_height label hidden" >Pos</td>
    <td class="half_height label" >LOC</td>
    <td class="half_height label" >OF</td>
    <td class='half_height'></td>
  </tr>
  <tr class='sri_session_1'>
    <td id="sri_session_1_stage" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('sri_stage_selector', this);"></td>
    <td id="sri_session_1_position_a" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('sri_position_selector', this);"></td>
    <td id="sri_session_1_position_b" class="selector_cell selector_cell_text_three_character hidden" onMouseDown="visit.show_selector('sri_position_selector', this);"></td>
    <td id="sri_session_1_level_of_care" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('level_of_care_selector', this);"></td>
    <td id="sri_session_1_organizing_field" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('organizing_field_selector', this);"></td>
    <td id='add_sri_session_2' class="selector_cell selector_cell_text_six_character selector_cell_size_medium" onMouseDown="$('.sri_session_2').show(); $(this).hide();">+ SRI Session</td>
  </tr>

  <tr class='sri_session_2 hidden'>
    <td class="half_height label" >Stage</td>
    <td id='label_sri_session_2_position_a' class="half_height label" >Pos</td>
    <td id='label_sri_session_2_position_b' class="half_height label hidden" >Pos</td>
    <td class="half_height label" >LOC</td>
    <td class="half_height label" >OF</td>
    <td class='half_height'></td>
  </tr>
  <tr class='sri_session_2 hidden'>
    <td id="sri_session_2_stage" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('sri_stage_selector', this);"></td>
    <td id="sri_session_2_position_a" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('sri_position_selector', this);"></td>
    <td id="sri_session_2_position_b" class="selector_cell selector_cell_text_three_character hidden" onMouseDown="visit.show_selector('sri_position_selector', this);"></td>
    <td id="sri_session_2_level_of_care" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('level_of_care_selector', this);"></td>
    <td id="sri_session_2_organizing_field" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('organizing_field_selector', this);"></td>
    <td id='add_sri_session_3' class="selector_cell selector_cell_text_six_character selector_cell_size_medium" onMouseDown="$('.sri_session_3').show(); $(this).hide();">+ SRI Session</td>
  </tr>
  <tr class='sri_session_3 hidden'>
    <td class="half_height label" >Stage</td>
    <td id='label_sri_session_3_position_a' class="half_height label" >Pos</td>
    <td id='label_sri_session_3_position_b' class="half_height label hidden" >Pos</td>
    <td class="half_height label" >LOC</td>
    <td class="half_height label" >OF</td>
    <td class='half_height'></td>
  </tr>
  <tr class='sri_session_3 hidden'>
    <td id="sri_session_3_stage" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('sri_stage_selector', this);"></td>
    <td id="sri_session_3_position_a" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('sri_position_selector', this);"></td>
    <td id="sri_session_3_position_b" class="selector_cell selector_cell_text_three_character hidden" onMouseDown="visit.show_selector('sri_position_selector', this);"></td>
    <td id="sri_session_3_level_of_care" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('level_of_care_selector', this);"></td>
    <td id="sri_session_3_organizing_field" class="selector_cell selector_cell_text_three_character" onMouseDown="visit.show_selector('organizing_field_selector', this);"></td>
    <td></td>
  </tr>
</table>
