input,
textarea,
select,
.selector_cell,
.selector_cell_diagnosis,
.selector_cell_half_height,
.selector_cell_half_height_quadruple,
.selector_cell_half_height_sentiplet,
.selector_cell_wide,
.selector_cell_wide_triple,
.selector_cell_wide_half_height,
.selector_cell_wide_half_height_triple,
.keyboard_selector_cell,
.keyboard_selector_cell_wide,
.keyboard_selector_cell_spacebar {
  border: 1px solid black;
}

.wavelineup_table td {
  border: 1px solid black;
}

table.report th {
  border: 1px solid black;
}

table.report td {
  border: 1px solid black;
}
