<table class="light_pink" style='width: 5in;'>
  <tr>
    <td align="left" class='bold'>Practice Users</td>
    <td></td>
    <td></td>
  </tr>
  
<% @users.each do |user| %>
  <tr id="<%= user.email %>">
    <td><%= user.email %></td>  
    <td><%= button_to 'Delete', user, :confirm => "This action can not be undone. Are you sure?", :method => :delete, :class => 'selector_cell_submit' %></td>
  </tr>
<% end %>
	<tr>
		<td><%= button_to 'New User', new_user_path, :method => :get, :class => 'selector_cell_submit' %></td>
	</tr>
</table>
