<%# Link to the "Next" page
    url:           url to the next page
    current_page:  a page object for the currently displayed page
    num_pages:     total number of pages
    per_page:      number of items to fetch per page
    remote:        data-remote
-%>
<td class='selector_cell selector_cell_text_three_character get' href='<%= url %>'>Next</td>
