<!-- SELECTORS -->

  <!-- level of care selector -->
  <div id="level_of_care_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id='select_level_of_care_1a' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1A</td>
	      <td id='select_level_of_care_1b' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1B</td>
	      <td id='select_level_of_care_1c' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1C</td>
			</tr>
			<tr>
	      <td id='select_level_of_care_2a' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2A</td>
	      <td id='select_level_of_care_2b' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2B</td>
	      <td id='select_level_of_care_2c' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2C</td>
			</tr>
			<tr>
	      <td id='select_level_of_care_3a' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3A</td>
	      <td id='select_level_of_care_3b' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3B</td>
	      <td id='select_level_of_care_3c' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3C</td>
			</tr>
			<tr>
	      <td id='select_level_of_care_4' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">4</td>
	      <td id='select_level_of_care_' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
    </table>
  </div>

  <!-- bme strategy selector -->
  <div id="bme_strategy_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id="bme_selector_b" class="selector_cell selector_cell_text_single_character" onMouseDown="set_bme_strategy('B');">B</td>
	      <td id="bme_selector_m" class="selector_cell selector_cell_text_single_character" onMouseDown="set_bme_strategy('M');">M</td>
	      <td id="bme_selector_e" class="selector_cell selector_cell_text_single_character" onMouseDown="set_bme_strategy('E');">E</td>
	      <td id="bme_selector_" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
			</tr>
    </table>
  </div>

  <!-- sri level of awareness selector -->
  <div id="sri_level_of_awareness_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id="select_sri_level_of_awareness_0" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">0</td>
	      <td id="select_sri_level_of_awareness_1" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1</td>
	      <td id="select_sri_level_of_awareness_2" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2</td>
	      <td id="select_sri_level_of_awareness_3" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3</td>
	      <td id="select_sri_level_of_awareness_" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
			</tr>
    </table>
  </div>

  <!-- sri position selector -->
  <div id="sri_position_selector" class="selector hidden">
    <table class="selector_table">
      <tr>
				<td id="select_sri_position_1" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1</td>
	      <td id="select_sri_position_2" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2</td>
	      <td id="select_sri_position_3" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3</td>
	    </tr>
			<tr>
			  <td id="select_sri_position_4" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">4</td>
	  		<td id="select_sri_position_5" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">5</td>
	      <td id="select_sri_position_6" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">6</td>
	      <td id="select_sri_position_" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
			</tr>
    </table>
  </div>

  <!-- phase selector -->
  <div id="phase_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id='select_phase_1_2_c1' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('1 &#062; 2 C1'); ">1 &#062; 2 C1</td>
	      <td id='select_phase_1_2_c5' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('1 &#062; 2 C5'); ">1 &#062; 2 C5</td>
	      <td id='select_phase_1_3' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('1 &#062; 3'); ">1 &#062; 3</td>
	      <td id='select_phase_1_4' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('1 &#062; 4'); ">1 &#062; 4</td>
	      <td id='select_phase_1_5' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('1 &#062; 5'); ">1 &#062; 5</td>
			</tr>
			<tr>
	      <td id='select_phase_2_1_c1' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('2 C1');">2 C1</td>
	      <td id='select_phase_2_1_c5' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('2 C5');">2 C5</td>
	      <td id='select_phase_3' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('3');">3</td>
	      <td id='select_phase_4' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('4');">4</td>
	      <td id='select_phase_5' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('5');">5</td>
	      <td id='select_phase_' class="selector_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase('');"> </td>  
    	</tr>
		</table>
  </div>
  
  <!-- gateway selector -->
  <% if @travel_card %> 
    <div id="phase_gateway_selector" class="selector hidden">
      <table class="selector_table">
        <tr>
          <td id="select_gateway_occ" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">OCC</td> 
          <td id="select_gateway_occ_c1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">OCC/C1</td> 
          <td id="select_gateway_c1_occ" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C1/OCC</td> 
          <td id="select_gateway_c1_c2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C1/C2</td> 
          <td id="select_gateway_c2_c1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C2/C1</td> 
          <td id="select_gateway_c2_c3" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C2/C3</td> 
        </tr>
				<tr>
					<td id="select_gateway_c3_c2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C3/C2</td> 
          <td id="select_gateway_c3_c4" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C3/C4</td> 
          <td id="select_gateway_c4_c3" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C4/C3</td> 
          <td id="select_gateway_c4_c5" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C4/C5</td> 
          <td id="select_gateway_c5_c4" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C5/C4</td> 
          <td id="select_gateway_c5_c6" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C5/C6</td> 
        </tr>
				<tr>
          <td id="select_gateway_c6_c5" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C6/C5</td> 
          <td id="select_gateway_c6_c7" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C6/C7</td> 
          <td id="select_gateway_c7_c6" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C7/C6</td> 
          <td id="select_gateway_c7_t1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">C7/T1</td> 
          <td id="select_gateway_t1_c7" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">T1/C7</td> 
          <td id="select_gateway_t1_t2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">T1/T2</td> 
        </tr>
				<tr>
          <td id="select_gateway_t2_t1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">T2/T1</td> 
          <td id="select_gateway_t2_t3" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">T2/T3</td> 
          <td id="select_gateway_t3_t2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">T3/T2</td> 
          <td id="select_gateway_s1" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">S1</td> 
          <td id="select_gateway_s2" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">S2</td> 
          <td id="select_gateway_s3" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">S3</td> 
        </tr>
				<tr>
					<td id="select_gateway_s4" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">S4</td> 
          <td id="select_gateway_s5" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">S5</td> 
          <td id="select_gateway_sac" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">SAC</td> 
          <td id="select_gateway_cx" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">CX</td> 
          <td id="select_gateway_apex" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="set_phase_gateway(this);">APEX</td> 
          <td id="select_gateway_" class="selector_cell gateway_selection_cell selector_cell_text_three_character" style='width: 1.0in;' onMouseDown="clear_phase_gateway();"> </td> 
        </tr>
      </table>
    </div>
  <% end %>
  
  <!-- direction selector -->
  <div id="phase_direction_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id="select_direction_f_e" class="selector_cell selector_cell_text_single_character" onMouseDown="set_phase_direction('F/E');">F/E</td>
	      <td id="select_direction_l_b" class="selector_cell selector_cell_text_single_character" onMouseDown="set_phase_direction('L/B');">L/B</td>
			</tr>
			<tr>
	      <td id="select_direction_m" class="selector_cell selector_cell_text_single_character" onMouseDown="set_phase_direction('M');">M</td>
	      <td id="select_direction_l" class="selector_cell selector_cell_text_single_character" onMouseDown="set_phase_direction('L');">L</td>
	      <td id="select_direction_" class="selector_cell selector_cell_text_single_character" onMouseDown="clear_phase_direction();"> </td>  
			</tr>
    </table>
  </div>
  
  <!-- SRI -->
  <!-- sri stage selector -->
  <div id="sri_stage_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id='select_sri_stage_1' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1</td>
	      <td id='select_sri_stage_2' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2</td>
	      <td id='select_sri_stage_3' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3</td>
	      <td id='select_sri_stage_4' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">4</td>
	      <td id='select_sri_stage_5' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">5</td>
	      <td id='select_sri_stage_6' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">6</td>
			</tr>
			<tr>
	      <td id='select_sri_stage_7' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">7</td>
	      <td id='select_sri_stage_8' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">8</td>
	      <td id='select_sri_stage_9' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">9</td>
	      <td id='select_sri_stage_10' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">10</td>
	      <td id='select_sri_stage_11' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">11</td>
	      <td id='select_sri_stage_12' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">12</td>
	      <td id='select_sri_stage_' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
			</tr>
    </table>
  </div>

  <!-- organizing field selector -->
  <div id="organizing_field_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id='select_organizing_field_h1' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H1</td>
	      <td id='select_organizing_field_h2' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H2</td>
	      <td id='select_organizing_field_h3l' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H3L</td>
			</tr>
			<tr>
	      <td id='select_organizing_field_h3u' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H3U</td>
	      <td id='select_organizing_field_h4' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H4</td>
	      <td id='select_organizing_field_h5' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">H5</td>
	      <td id='select_organizing_field_' class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
			</tr>
    </table>
  </div>
  
  <!-- short leg amount -->
  <div id="short_leg_amount_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id='select_amount_0_05' class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">0-0.5</td>
	      <td id='select_amount_05_1' class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">0.5-1</td>
	      <td id='select_amount_1_15' class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">1-1.5</td>
			</tr>
			<tr>
	      <td id='select_amount_15_2' class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">1.5-2</td>
	      <td id='select_amount_2' class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);">2+</td>
	      <td id='select_amount_' class="selector_cell selector_cell_text_three_character" onMouseDown="set_selected_value(this);"> </td>  
			</tr>
    </table>
  </div>
  
  <!-- tension level selector -->
  <div id="tension_level_selector" class="selector hidden">
    <table class="selector_table">
			<tr>
	      <td id="select_tension_level_0" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">0</td>
	      <td id="select_tension_level_1" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">1</td>
	      <td id="select_tension_level_2" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">2</td>
			</tr>
			<tr>
	      <td id="select_tension_level_3" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">3</td>
	      <td id="select_tension_level_4" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">4</td>
	      <td id="select_tension_level_5" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);">5</td>
	      <td id="select_tension_level_" class="selector_cell selector_cell_text_single_character" onMouseDown="set_selected_value(this);"> </td>  
			</tr>
    </table>
  </div>
</div>