<div id="mini_travel_card" onClick="set_practice_room_section_and_buttons('practice_room_travel_card');">
<%= form_for @travel_card do |f| %>
<table class='mini_travel_card'>
  <tr>
    <td class="half_height label" align="center">DO</td>
    <td class="half_height label" align="center">LC</td>
    <td class="half_height label" align="center">RW</td>
    <td class="half_height label" align="center">1</td>
    <td class="half_height label" align="center">2</td>
    <td class="half_height label" align="center">3</td>
    <td colspan="6" align="center"></td>
  </tr>
  <tr>
    <td id="mini_travel_card_dominant_occiput" class="mini_cell"></td>
    <td id="mini_travel_card_level_of_care" class="mini_cell"></td>
    <td id="mini_travel_card_full_respiratory_wave" class="mini_cell"></td>
    <td id="mini_travel_card_leading_bme_strategy" class="mini_cell"></td>
    <td id="mini_travel_card_second_bme_strategy" class="mini_cell"></td>
    <td id="mini_travel_card_third_bme_strategy" class="mini_cell"></td>
    <td colspan='6'></td>
  </tr>
  <tr>
    <td id="mini_travel_card_gateway_occ_c1" class="mini_cell"></td>
    <td class="label" align="center">O/1</td>
    <td id="mini_travel_card_gateway_c1_occ" class="mini_cell"></td>
    <td id="mini_travel_card_gateway_c1_c2" class="mini_cell"></td>
    <td class="label" align="center">1/2</td>
    <td id="mini_travel_card_gateway_c2_c1" class="mini_cell"></td>
    <td id="mini_travel_card_gateway_c2_c3" class="mini_cell"></td>
    <td class="label" align="center">2/3</td>
    <td id="mini_travel_card_gateway_c3_c2" class="mini_cell"></td>
    <td id="mini_travel_card_gateway_c3_c4" class="mini_cell"></td>
    <td class="label" align="center">3/4</td>
    <td id="mini_travel_card_gateway_c4_c3" class="mini_cell"></td>
  </tr>
  <tr>
    <td id="mini_travel_card_gateway_c4_c5" class="mini_cell"></td>
    <td class="label" align="center">4/5</td>
    <td id="mini_travel_card_gateway_c5_c4" class="mini_cell"></td>
    <td id="mini_travel_card_gateway_c5_c6" class="mini_cell"></td>
    <td class="label" align="center">5/6</td>
    <td id="mini_travel_card_gateway_c6_c5" class="mini_cell"></td>
    <td id="mini_travel_card_gateway_c6_c7" class="mini_cell"></td>
    <td class="label" align="center">6/7</td>
    <td id="mini_travel_card_gateway_c7_c6" class="mini_cell"></td>
    <td id="mini_travel_card_gateway_c7_t1" class="mini_cell"></td>
    <td class="label" align="center">7/1</td>
    <td id="mini_travel_card_gateway_t1_c7" class="mini_cell"></td>
  </tr>
  <tr>
    <td colspan='3'></td>
    <td id="mini_travel_card_gateway_t1_t2" class="mini_cell"></td>
    <td class="label" align="center">1/2</td>
    <td id="mini_travel_card_gateway_t2_t1" class="mini_cell"></td>
    <td id="mini_travel_card_gateway_t2_t3" class="mini_cell"></td>
    <td class="label" align="center">2/3</td>
    <td id="mini_travel_card_gateway_t3_t2" class="mini_cell"></td>
    <td colspan='3'></td>
  </tr>
  <tr>
    <td class="label" align="center">S1</td>
    <td id="mini_travel_card_gateway_s1" class="mini_cell"></td>
    <td class="label" align="center">S2</td>
    <td id="mini_travel_card_gateway_s2" class="mini_cell"></td>
    <td class="label" align="center">S3</td>
    <td id="mini_travel_card_gateway_s3" class="mini_cell"></td>
    <td class="label" align="center">S4</td>
    <td id="mini_travel_card_gateway_s4" class="mini_cell"></td>
    <td class="label" align="center">S5</td>
    <td id="mini_travel_card_gateway_s5" class="mini_cell"></td>
    <td class="label" align="center">CX</td>
    <td id="mini_travel_card_gateway_cx" class="mini_cell"></td>
  </tr>
</table> 
<% end %>    
</div>