<table>
	<tr>
		<td>
			<table class='light_pink'>
				<tr>
					<th>Login</th>
				</tr>
				<tr>
					<td>
						<%= render 'form' %>
					</td>
			</table>
		</td>
		<td style='width: 0.25in;'>
		</td>
		<td valign='top'>
			<table class='light_green'>
				<tr>
					<th>What is WaveLinup?</th>
				</tr>
				<tr>
					<td class='bold' style='color: white; background-color: gray;'>
						<ul style='margin-left: 20px; padding-left: 0;'>
						<li>A free <span style='color: #50A0EB;'>Travel Card and Visit Management</span> solution</li>
						<br>
						<li>Designed BY and FOR Network practitioners</li>
						<br>
						<li>Do away with paper Travel Cards!</li>
						<br>
						<li>Access your Practice Member's data from any internet connection!</li>
						<br>
						<li>Works with standard web browsers* and touch-screen computers such as the Apple iPad</li>
						</ul>
						<p style='margin-left: 20px; font-size: 9px;'>* Mozilla Firefox, Apple Safari and Google Chrome are supported.</p>
					</td>
				</tr>
			</table>
		</td>
	</tr>
</table>


