<table>
	<tr>
		<td>
			<table class='light_pink'>
				<tr>
					<th>Login</th>
				</tr>
				<tr>
					<td>
						<%= render 'form' %>
					</td>
			</table>
		</td>
		<td style='width: 0.25in;'>
		</td>
		<td valign='top'>
			<%= render :partial => 'system_mailer/why_wavelineup' %>
		</td>
	</tr>
</table>


