<script language='javascript'>
  function submit_request(){
    if(selected_practice_member_id=='') selected_practice_member_id='all';
    if($('#lookback_days_today').hasClass('current_selected')) lookback_days = '0';
    if($('#lookback_days_1').hasClass('current_selected')) lookback_days = '1';
    if($('#lookback_days_7').hasClass('current_selected')) lookback_days = '7';
    if($('#lookback_days_30').hasClass('current_selected')) lookback_days = '30';
    if($('#lookback_days_60').hasClass('current_selected')) lookback_days = '60';
    if($('#lookback_days_90').hasClass('current_selected')) lookback_days = '90';
    var url = '/reports/show?filter_practice_member=' + selected_practice_member_id + '&lookback_days=' + lookback_days;
    window.location.href = url;
  }
</script>

<h1>Reports</h1><br>
  <table id="current_visit" class="selector_table">
    <tr>
      <td colspan='2' class="half_height label">Filter Practice Members</td>
    </tr>
    <tr>
      <td style='width: 1.0in' id="filter_practice_member_all" class="selector_cell selector_cell_text_three_character current_selected" onClick="selected_practice_member_id='all'; $(this).addClass('current_selected'); $('#filter_practice_member_single').removeClass('current_selected');">All</td>
      <td style='width: 3.0in' id="filter_practice_member_single" class="selector_cell selector_cell_text_three_character" onClick="practice_member_selector_dialog_operation='set_report_filter'; $('#select_target_page').hide(); $('#practice_member_selector').show(); return false;">Individual</td>
    </tr>
  </table>
  <table id="current_visit" class="selector_table">
    <tr>
      <td colspan='5' class="half_height label">Lookback Period</td>
    </tr>
    <tr>
      <td style='width: 1.0in' id="lookback_days_today" class="selector_cell selector_cell_text_three_character current_selected lookback_days" onClick="$('.lookback_days').removeClass('current_selected'); $(this).addClass('current_selected');">Today</td>
      <td style='width: 1.0in' id="lookback_days_1" class="selector_cell selector_cell_text_three_character lookback_days" onClick="$('.lookback_days').removeClass('current_selected'); $(this).addClass('current_selected');">1 Day</td>
      <td style='width: 1.0in' id="lookback_days_7" class="selector_cell selector_cell_text_three_character lookback_days" onClick="$('.lookback_days').removeClass('current_selected'); $(this).addClass('current_selected');" onClick="$('.lookback_days').removeClass('current_selected'); $(this).addClass('current_selected');">7 Days</td>
      <td style='width: 1.0in' id="lookback_days_30" class="selector_cell selector_cell_text_three_character lookback_days" onClick="$('.lookback_days').removeClass('current_selected'); $(this).addClass('current_selected');">30 Days</td>
      <td style='width: 1.0in' id="lookback_days_60" class="selector_cell selector_cell_text_three_character lookback_days" onClick="$('.lookback_days').removeClass('current_selected'); $(this).addClass('current_selected');">60 Days</td>
      <td style='width: 1.0in' id="lookback_days_90" class="selector_cell selector_cell_text_three_character lookback_days" onClick="$('.lookback_days').removeClass('current_selected'); $(this).addClass('current_selected');">90 Days</td>
    </tr>
  </table>
  <br>
  <table id="current_visit" class="selector_table">
    <tr>
	    <td><%= button_to 'Submit', '#', :method => :get, :onclick => 'submit_request(); return false;', :class => 'bold selector_cell selector_cell_nav', :style => 'width: 1.5in;' %></td>
      <td></td>
    </tr>
  </table>
