<% if @practice_members_list %>
<table class="selector_table" width="150px">
      <tr><td class="bold selector_cell selector_cell_add" onclick="$('#identity_selector').show();">Find</td></tr>
</table>
<% end %>
