<script language='javascript'>
$(document).ready(function() {
  // determine if each button should be visible
  
  <% if current_user.practice && current_user.practice.practice_members.size > 0 %>
    practice_member_selector_available = true;
  <% end %>
  
  <% if current_user.can_create_a_practice_member? %>
    new_practice_member_form_available = true;
  <% end %>
  
  set_left_column_buttons();
});

var practice_member_selector_available;
var new_practice_member_form_available;

function set_left_column_buttons() {
  if(new_practice_member_form_available) {
    $('#new_practice_member_show_selector_cell').show();
  }
  if(practice_member_selector_available) {
    $('#practice_member_selector_show_selector_cell').show();
  }
  
  if($('#new_practice_member').is(':visible')) {
    $('#new_practice_member_show_selector_cell').addClass('current_selected');
  }
  else {
    $('#new_practice_member_show_selector_cell').removeClass('current_selected');
  }
  
  if($('#practice_member_selector').is(':visible')) {
    $('#practice_member_selector_show_selector_cell').addClass('current_selected');
  }
  else {
    $('#practice_member_selector_show_selector_cell').removeClass('current_selected');
  }
}

function show_new_practice_member_form() {
  // if form already showing dont need to load, just need to toggle off
  if(!$('#new_practice_member_show_selector_cell').hasClass('current_selected')) {

		<% @practice_member = PracticeMember.new %>
		$('#new_practice_member').html("<%= escape_javascript(render :partial => 'practice_members/new') %>");
		initialize_page();
		set_new_practice_member();
		set_left_column_buttons();
  }
  else {
    set_new_practice_member();
  }
}
function set_new_practice_member() {
  // determine if need is to show or hide before we close all selectors
  if($('#new_practice_member').is(':visible')==true) is_showing_now = true;
  else is_showing_now = false;

  $('.selector').hide();
  if(is_showing_now) $('#new_practice_member').hide();
  else $('#new_practice_member').show('slide');
  set_left_column_buttons();
}

function show_practice_member_selector() {
  // determine if need is to show or hide before we close all selectors
  if($('#practice_member_selector').is(':visible')==true) is_showing_now = true;
  else is_showing_now = false;
  
  $('.selector').hide();
  $('#new_practice_member_show_selector_cell').removeClass('current_selected');
  $(this).toggleClass('current_selected');
  if(!is_showing_now) $('#practice_member_selector').show('slide');
  set_left_column_buttons();
}
</script>

<table class="selector_table" width="150px">
  <tr>
    <td align="center">
      <div id="transmitting" class="hidden">
        <%= image_tag "transmitting.png", :size => "40x40" %>
      </div>
    </td>
  </tr>
  <tr><td id="new_practice_member_show_selector_cell" class="bold selector_cell selector_cell_nav hidden" onclick="show_new_practice_member_form();">New Practice Member</td></tr>
  <tr><td id="practice_member_selector_show_selector_cell" class="bold selector_cell selector_cell_nav hidden" onclick="show_practice_member_selector();">Find</td></tr>
</table>

